@font-face {
  font-family: "nanum_bold";
  src: url(../../font/NanumGothic-Bold.ttf);
}

.form {
  width: 90%;
  height: 25rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid pink;
  background-color: rgba(255, 255, 255, 0.082);
}

.card_name {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 20%;
  margin-left: 3rem;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.name_title {
  font-size: 0.8rem;
  font-family: "nanum_bold";
}

.cardname_input {
  display: flex;
  width: 10rem;
  height: 1.2rem;
  margin: 0 0.3rem;
}

.theme {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 20%;
  margin-left: 3rem;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 0.7rem;
}

.theme_title {
  font-size: 0.8rem;
  font-family: "nanum_bold";
}

.theme_select {
  width: 7rem;
}

.deck {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-left: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.deck1_title,
.deck2_title {
  font-family: "nanum_bold";
  font-size: 0.8rem;
}

.champion,
.item {
  display: flex;
  align-items: center;
  text-align: center;
}

.champion_title {
  font-family: "nanum_bold";
  font-size: 0.8rem;
}

.champion {
  flex-direction: column;
  width: 30%;
  height: 100%;
  margin: 1rem 2rem;
}

.select_Champion {
  width: 25%;
  height: 1rem;
  font-size: 0.8rem;
  margin: 0 0.5rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../image/down_row.png) no-repeat 95% 50%;
}

.item {
  display: flex;
  width: 30%;
  margin-right: 3rem;
  flex-direction: column;
  height: 80%;
  margin: 1rem 1rem;
  align-items: center;
  text-align: center;
  /* justify-content: center; */
}

.BtnAdd {
  display: flex;
  width: 3rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 80rem) {
  .card_name {
    display: flex;
    width: 10rem;
    height: 1.5rem;
    margin: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  .BtnAdd {
    display: flex;
    width: 2.5rem;
    height: 1.3rem;
    margin: 0.3rem;
    font-size: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  .form {
    width: 30rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    margin: 0 0.4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid black;
    margin: 0 auto;
  }

  .cardname_input {
    display: flex;
    width: 5rem;
    height: 1.2rem;
    margin: 0 0.3rem;
  }

  .theme {
    margin: 0 0.3rem;
    width: 100%;
    align-items: center;
  }

  .theme_title {
    font-size: 0.8rem;
    font-family: "nanum_bold";
  }

  .theme_select {
    width: 7rem;
  }

  .deck1_title,
  .deck2_title {
    font-family: "nanum_bold";
    font-size: 0.8rem;
  }
}
