@font-face {
  font-family: "lol_regular";
  src: url(../../font/lol_regular.ttf);
}

.card_maker {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5rem;
  margin: 0 auto;
}

.title {
  display: flex;
  font-size: 1.5rem;
  text-align: center;
  font-family: "lol_regular";
  margin: 0;
  margin: 0.5rem 0;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.select_part {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 30%;
}

.card_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10rem;
  width: 90%;
  align-items: center;
  border-bottom: 1px solid gray;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.3rem;
}

.deck {
  display: flex;
  flex-direction: row;
  height: 10rem;
  width: 90%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.champion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40%;
}

.selected_cham {
  flex-wrap: wrap;
  display: flex;
  width: 60%;
  flex-direction: row;
  justify-content: center;
  margin-left: 0.5rem;
  height: 15rem;
  align-items: center;
}

.cham_title {
  position: relative;
  display: flex;
  justify-content: left;
  font-size: 1rem;
  margin: 0.3rem 0.5rem;
}

.selected_item {
  height: 10rem;
  width: 90%;
  border-top: 1px solid gray;
}

.item_title {
  position: relative;
  display: flex;
  font-size: 1rem;
  margin: 1rem 0.5rem;
}

@media screen and (max-width: 80rem) {
  .card_maker {
    position: relative;
  }

  .card {
    height: 100%;
  }
}

@media screen and (max-width: 415px) {
  .card {
    justify-content: start;
  }
}
