.select {
  position: absolute;
  width: 13rem;
  max-width: 25rem;
  margin: 1rem;
}

@media screen and (max-width: 80rem) {
  .select {
    width: 10rem;
    max-width: 10rem;
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 670px) {
  .select {
    width: 15rem;
  }
}
