.card {
  width: 41rem;
  height: 20rem;
  border-radius: 0.5rem;
  box-shadow: 6px 6px 2px 1px rgba(55, 55, 59, 0.2);
}

.selected_cham {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 0.5rem;
}
