* {
  box-sizing: border-box;
}

@font-face {
  font-family: "nanum_bold";
  src: url(../../font/NanumGothic-Bold.ttf);
}

@font-face {
  font-family: "ONE-Mobile-Title";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "paybooc-Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --item-title-font-family: "ONE-Mobile-Title";
  --item-contents-font-family: "paybooc-Light";
}

.Itemlist {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.item_title,
.item_select_title {
  font-size: 0.8rem;
  font-family: var(--item-title-font-family);
}

.item_select_title.dark {
  color: white;
}

.BtnShow_item_list {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  font-size: 1rem;
  color: violet;
}

.BtnShow_item_list:hover {
  transform: scale(1.1);
}

.Item {
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
  margin: 0.1rem;
  cursor: pointer;
}

.Item:hover {
  border: 0.5px solid violet;
}

.item_name {
  font-size: 0.4rem;
  margin: 0.1rem 0;
}

.item_img {
  width: 2rem;
  height: 2rem;
}

.selected_item_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 10rem;
  height: 30rem;
}

.selected_item_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.selected_item_img {
  display: flex;
  width: 1.8rem;
  height: 1.8rem;
}

.BtnResetItem {
  width: 6rem;
  height: 1.5rem;
  align-items: center;
  margin: 0 auto;
  background: none;
  border: none;
  border-radius: 0.5rem;
  background-color: white;
  margin-top: 2rem;
  font-family: var(--item-contents-font-family);
  font-weight: 700;
  font-size: 0.7rem;
  box-shadow: -0.5px -0.5px 1px rgba(128, 128, 128, 0.603), 2px 2px 2px gray;
  cursor: pointer;
}

.BtnResetItem:hover {
  transform: scale(1.05);
}
