.menu {
  background-color: white;
  border-radius: 0.5rem;
  position: absolute;
  top: 3rem;
  width: 27.5rem;
  height: 35rem;
  box-shadow: 0 1px 8px gray;
  opacity: 0;
  visibility: hidden;
  margin-left: 1rem;
  overflow: scroll;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(3rem);
}
