* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Sans_bold";
  src: url(../../font/GmarketSansMedium.otf);
}

@font-face {
  font-family: "Sans_light";
  src: url(../../font/GmarketSansLight.otf);
}

.Home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.Logo {
  font-family: "Sans_bold";
  font-size: 2rem;
  margin: 0.5rem 0;
  vertical-align: middle;
}

.BtnLogout {
  position: absolute;
  width: 5rem;
  height: 1.5rem;
  border-radius: 0.4rem;
  border: none;
  background-color: transparent;
  background-color: black;
  color: white;
  right: 1rem;
}

.Home_About {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 840px;
  background-color: rgba(0, 0, 0, 0.925);
}

.BtnPrevious {
  display: flex;
  top: 40%;
  left: 1rem;
  position: absolute;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.BtnNext {
  display: flex;
  position: absolute;
  top: 40%;
  right: 1rem;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.slides {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.Slide1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.slide1Img {
  display: flex;
  width: 40%;
  vertical-align: middle;
}

.slide1_description {
  display: flex;
  width: 60%;
  text-align: center;
  height: 50%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.slide1_title {
  color: white;
  font-family: "Sans_bold";
  font-size: 3rem;
}

.footer {
  height: 120px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}
