* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Sans_bold";
  src: url(../../font/GmarketSansMedium.otf);
}

@font-face {
  font-family: "Sans_light";
  src: url(../../font/GmarketSansLight.otf);
}

@font-face {
  font-family: "Sans_medium";
  src: url(../../font/GmarketSansMedium.otf);
}

.Home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.Logo {
  font-family: "Sans_bold";
  font-size: 2rem;
  margin: 0.5rem 0;
  vertical-align: middle;
}

.BtnLogout {
  position: absolute;
  width: 5rem;
  height: 1.5rem;
  border-radius: 0.4rem;
  border: none;
  background-color: transparent;
  background-color: black;
  color: white;
  right: 1rem;
}

.Home_About {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300vw;
  height: 840px;
  background-color: rgba(0, 0, 0, 0.925);
  overflow: hidden;
}

.BtnPrevious {
  display: flex;
  top: 40%;
  left: 1rem;
  position: absolute;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.BtnNext {
  display: flex;
  position: absolute;
  top: 40%;
  right: 1rem;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.slides {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Slide1,
.Slide2,
.Slide3 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100%;
}

.slide1Img {
  display: flex;
  width: 40%;
  vertical-align: middle;
}

.slide2_Img_container {
  display: flex;
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.slide2Img {
  display: flex;
  vertical-align: middle;
  margin-left: 2rem;
  height: 40rem;
  align-items: center;
  justify-content: center;
}

.slide1_title,
.slide2_title {
  color: white;
  font-family: "Sans_bold";
  font-size: 3rem;
  margin: 1rem 0;
}

.slide1_description,
.slide2_description {
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: center;
  height: 50%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.description1_img {
  width: 25rem;
}

.description2_img {
  width: 20rem;
}

.description1_text,
.description2_text {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.87);
  font-family: "Sans_medium";
  width: 25rem;
  white-space: normal;
}

.description2_text {
  width: 29rem;
}

.text_content {
  margin: 0;
  text-align: left;
}

.footer {
  height: 120px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}
