* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Y_Spotlight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --header-font-family: "Y_Spotlight";
  --home-text-font-family: "Y_Spotlight";
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-size: 16px;
  background-color: black;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  font-family: var(--header-font-family);
  border-bottom: 1px solid black;
  background-color: transparent;
}

.header_title {
  font-size: 2rem;
  color: white;
  cursor: default;
}

.login_button {
  display: block;
  cursor: pointer;
  height: 2.5rem;
  width: 5rem;
  text-align: center;
  color: white;
  border: none;
  background: transparent;
  font-size: 1.2rem;
  font-family: var(--header-font-family);
  align-items: center;
  justify-content: center;
}

.login_button:hover {
  transform: scale(1.2);
  color: firebrick;
}

.home_container {
  display: flex;
  width: 100%;
  height: 100%;

  position: relative;
  border-bottom: 1px solid black;
  background: url(../../image/home_background_black.jpg) center center / cover
    no-repeat;
}

.home_circle_container {
  position: absolute;
  top: 8%;
  left: 30%;
}

.rect {
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.upper_circle_container {
  box-sizing: border-box;
  padding: 1em;
  margin: 0;
  fill-rule: evenodd;
}

.home_image_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40rem;
  position: absolute;
  top: 10%;
}

.home_img1,
.home_img2,
.home_img3 {
  position: absolute;
  display: flex;
  left: 32%;
  height: 40rem;
  overflow: hidden;
}

.home_img1 {
  opacity: 1;
  display: flex;
  animation: showImg 4s;
  animation-delay: 0;
  -webkit-transition: -webkit-transform 0.3s 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.3s 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.3s 0.2s ease-in-out;
  -o-transition: -o-transform 0.3s 0.2s ease-in-out;
  transition: transform 0.3s 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

.home_img2 {
  opacity: 1;
  animation: showImg 5s;
  animation-delay: 4s;
  -webkit-transition: -webkit-transform 0.3s 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.3s 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.3s 0.2s ease-in-out;
  -o-transition: -o-transform 0.3s 0.2s ease-in-out;
  transition: transform 0.3s 0.2s ease-in-out;
  animation-fill-mode: both;
}

.home_img3 {
  opacity: 1;
  animation: stayImg 5s;
  animation-delay: 8s;
  -webkit-transition: -webkit-transform 0.3s 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.3s 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.3s 0.2s ease-in-out;
  -o-transition: -o-transform 0.3s 0.2s ease-in-out;
  transition: transform 0.3s 0.2s ease-in-out;
  animation-fill-mode: backwards;
}

.upper_circle {
  display: flex;
  z-index: 100;
}

.home_text_container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.home_text1 {
  display: flex;
  z-index: 3;
  position: absolute;
  color: white;
  left: 7rem;
  bottom: 5rem;
  font-family: var(--home-text-font-family);
  font-size: 3rem;
  animation: text-sliding-right 2s ease;
}

.home_text2 {
  display: flex;
  z-index: 3;
  position: absolute;
  right: 7rem;
  top: 5rem;
  color: white;
  font-family: var(--home-text-font-family);
  font-size: 3rem;
  animation: text-sliding-left 2s ease;
}

.home_button_login {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--home-text-font-family);
  font-size: 1.2rem;
  color: white;
  background-color: rgba(42, 13, 230, 0.473);
  position: absolute;
  right: 11rem;
  bottom: 18rem;
  border-radius: 2rem;
  width: 10rem;
  height: 4rem;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
  z-index: 2;
}

.home_button_login:hover {
  transform: scale(1.1);
}

@keyframes slideToRight {
  0% {
    opacity: 0;
    transform: translateX(-7%);
    -webkit-transform: translateX(-7%);
    -moz-transform: translateX(-7%);
    -ms-transform: translateX(-7%);
    -o-transform: translateX(-7%);
  }

  50% {
    opacity: 0.5;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    display: none;
  }
}

@keyframes text-sliding-right {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes text-sliding-left {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes showImg {
  0% {
    opacity: 0;
    transform: translateX(-7%);
    -webkit-transform: translateX(-7%);
    -moz-transform: translateX(-7%);
    -ms-transform: translateX(-7%);
    -o-transform: translateX(-7%);
  }

  50% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  100% {
    opacity: 0;
  }
}

@keyframes stayImg {
  from {
    opacity: 0;
    transform: translateX(-7%);
    -webkit-transform: translateX(-7%);
    -moz-transform: translateX(-7%);
    -ms-transform: translateX(-7%);
    -o-transform: translateX(-7%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

@media screen and (max-width: 1300px) {
  .home_img1,
  .home_img2,
  .home_img3 {
    left: 25%;
    height: 35rem;
  }

  .home_text1 {
    left: 5%;
    font-size: 2.5rem;
    bottom: 20%;
  }

  .home_text2 {
    right: 5%;
    font-size: 2.5rem;
    top: 20%;
  }

  .home_button_login {
    right: 7%;
    bottom: 35%;
  }
}

@media screen and (max-width: 840px) {
  .home_img1,
  .home_img2,
  .home_img3 {
    left: 15%;
    height: 30rem;
  }
}

@media screen and (max-width: 740px) {
  .header {
    padding: 0 2rem;
  }

  .home_text1,
  .home_text2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 540px) {
  .home_text1,
  .home_text2 {
    font-size: 1.2rem;
  }

  .home_img1,
  .home_img2,
  .home_img3 {
    left: 15%;
    bottom: 28%;
    height: 22rem;
  }
}

@media screen and (max-width: 420px) {
  .header {
    padding: 0.5rem 1rem;
  }

  .header_title {
    font-size: 1rem;
  }

  .home_img1,
  .home_img2,
  .home_img3 {
    left: 10%;
    top: 20%;
    height: 20rem;
  }

  .home_text1,
  .home_text2 {
    font-size: 1.5rem;
  }

  .home_text1 {
    bottom: 20%;
  }

  .home_button_login {
    right: 35%;
    width: 7rem;
    height: 2.5rem;
    font-size: 1rem;
    top: 10%;
    background-color: blue;
  }
}

@media screen and (max-width: 325px) {
  .home_img1,
  .home_img2,
  .home_img3 {
    left: 15%;
    top: 10%;
    height: 15rem;
  }

  .home_text1,
  .home_text2 {
    font-size: 1.1rem;
  }
}
