:root {
  --header-title-font-family: "Y_Spotlight";
  --header-button-font-family: "Y_Spotlight";
  --brShadow: -6px 6px 15px rgba(0, 0, 0, 0.5);
  --tlShadow: 6px -6px 15px rgba(255, 255, 255, 0.8);
}

@font-face {
  font-family: "Y_Spotlight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 8rem;
  line-height: 8rem;
  background-color: transparent;
  background-color: #e0e5eb59;
  font-size: 16px;
  box-shadow: 4px 4px 8px lightgray;
}

.header_img {
  height: 4rem;
}

.title_part {
  margin-top: 1rem 0;
}

.header_title {
  font-size: 3rem;
  font-family: var(--header-title-font-family);
  align-items: center;
  margin: 1rem auto;
  color: white;
  text-shadow: -2px -2px 4px rgba(71, 71, 71, 0.466),
    5px 5px 9px rgba(0, 0, 0, 0.08);
}

.about {
  position: absolute;
  left: 0;
  margin-left: 2rem;
  color: black;
}

.link_about {
  color: black;
  text-decoration: none;
  padding: 0.3rem;
  font-size: 1.3rem;
  font-family: var(--header-button-font-family);
  transition: all 0.2s ease;
}

.link_about:hover {
  transform: scale(1.1);
}

.BtnLogout {
  width: 4rem;
  height: 2rem;
  position: absolute;
  right: 3em;
  top: 3em;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: transparent;
  font-family: var(--header-button-font-family);
  font-size: 1rem;
  color: black;
}

.BtnLogout:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 415px) {
  .header_title {
    font-size: 2rem;
  }

  .about {
    margin-left: 1.5em;
    margin-top: 2em;
  }

  .link_about {
    font-size: 0.8rem;
    margin-left: 0;
    border-bottom: 1px solid black;
  }

  .BtnLogout {
    font-size: 0.8rem;
    right: 1.5em;
    top: 4.5em;
    border-radius: 0;
    border-bottom: 1px solid black;
    width: 3.5rem;
  }
}
